[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
mypy = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
build = "*"
setuptools = "*"
twine = "*"
pytest = "*"
black = "*"
sphinx-immaterial = "*"
sphinx-autodoc-typehints = "*"
sphinx-copybutton = "*"

[requires]
python_version = "3.9"
